:root {
  --color-bg-card: #ffffff; /* grayscale-100 */
  --color-border: #9ca3af; /* grayscale-400 */
  --color-text-main: #7c7c7c; /* grayscale-700 */
  --color-text-black: #000000;
  --color-accent: #fbf4e6; /* brand4-500 (adjust as needed) */
  --color-white: #ffffff;
  --shadow-hover: 0px 8px 18px 0px rgba(22, 22, 24, 0.171);
  --transition-speed: 0.5s;
}

.card_wrapper {
  padding: 1rem;
  font-family: "Poppins", sans-serif;
}

.product_card {
  position: relative;
  box-sizing: border-box;
  background-color: var(--color-bg-card);
  padding: 1rem;
  margin: 0 auto;
  /* border: 1px solid var(--color-border); */
  transition: box-shadow 0.3s ease;
}

.card_header {
  position: relative;
}

.wishlist_btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  height: 2rem;
  width: 2rem;
  background-color: var(--color-bg-card);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: var(--shadow-hover);
  color: var(--color-text-black);
  transition: opacity 0.3s;
}

.card_link_wrapper {
  text-decoration: none;
  color: inherit;
  display: block;
}

.image_container {
  position: relative;
  box-sizing: border-box;

  text-align: center;
}

.product_image {
  object-fit: cover;
  max-width: 160px;
  margin: 0 auto;
  display: block;
  transition: transform var(--transition-speed) ease-in-out;
}

.badge_container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  pointer-events: none;
}

.badge {
  background-color: var(--color-accent);
  color: black;
  padding: 0.25rem 0.375rem;
  font-size: 10px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 2px;
}

.product_title {
  color: var(--color-text-main);
  font-size: 12px;
  line-height: 20px;
  margin: 1rem 0;
  letter-spacing: 0.55px;
  line-height: 1.5;
  min-height: 3em;
  font-weight: 400;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product_price {
  text-align: left;
  color: var(--color-text-black);
}

.original_price {
  text-decoration: line-through;
  margin-left: 0.5rem;
  color: var(--color-text-main);
}

.action_btn {
  display: block;
  bottom: 0;
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  color: var(--color-text-black);
  text-decoration: none;
  background: transparent;
  cursor: pointer;
}

.action_btn span {
  border: 1px solid black;
}

.a1 {
  font-size: 12px;
}

.a2 {
  text-transform: uppercase;
  letter-spacing: 0.55px;
}

@media (min-width: 1300px) {
  .card_wrapper {
    padding: 0.5rem;
    padding-bottom: 1.5rem;
  }

  .image_container {
    padding-bottom: 3rem;
    padding-top: 1rem;
  }

  .wishlist_btn:hover {
    scale: 1.1;
  }

  .product_card {
    padding: 1rem;
    border: none;
    transition: all 0.2s ease-in;
  }

  /* Hover Effects for Desktop */
  .product_card:hover {
    box-shadow: var(--shadow-hover);
    transform: translateY(-2px);
  }

  .product_card:hover .product_image {
    transform: scale(1.1);
  }

  /* Action Button Positioning on Desktop */
  .action_btn {
    position: absolute;
    bottom: 88px;
    left: 0;
    margin-top: 0;
    padding: 0.75rem 0;
    margin: 0.75rem auto;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: var(--color-white);
  }

  .action_btn span {
    border: none;
  }

  .action_btn span:hover {
    background-color: #d8d8d869;
    border: none;
  }

  .product_card:hover .action_btn {
    opacity: 1;
  }
}
