.card_container {
  padding: 20px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card_container:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.imageContainer {
  overflow: hidden;
  place-self: center;
}

img {
  height: 10rem;
  width: 100%;
  transition: all 0.4s ease-in-out;
}
.cta_btn {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  background-color: transparent;
}

.cta_btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
