/* Carousel Container */
.carousel_container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  padding: 10px 0;
  object-fit: contain;
  place-content: center;
}

/* The Scrollable Track */
.carousel_track {
  display: flex;
  gap: var(--gap-between-elements);
  overflow-x: auto;
  padding: 0px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel-track::-webkit-scrollbar {
  display: none;
}

.carousel_item {
  flex-shrink: 0;
  width: calc(
    (100% - (var(--item-count, 1) - 1) * var(--gap-between-elements)) / (var(--item-count, 1))
  );
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  cursor: pointer;
}

/* Navigation Buttons */
.carousel_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: all 0.3s ease;
}

.carousel_btn:hover {
  background-color: #f8f8f8;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.151);
}

.carousel_btn_left {
  left: -20px;
}

.carousel_btn_right {
  right: -20px;
}

.crousel_pager {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  bottom: 12px;
  gap: 8px;
}

.pager_dot {
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.541);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  transition: all 0.5s ease;
}

.pager_dot:hover,
.pager_dot.active {
  background-color: #313131;
  border: none;
  scale: 1.1;
}

@media (max-width: 1280px) {
  .carousel_btn {
    display: none;
  }
  .carousel_item {
    scroll-snap-align: center;
  }
}




