.imageContainer{
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer img{
    box-sizing: border-box;
    padding: 4px;
    width:50%;
    border:1px solid black;
}

.imageContainer2{
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer2 img{
    box-sizing: border-box;
    padding: 4px;
    width:70px;
    border:1px solid black;
}
