.imageContainer{
    width: 40rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer img{
    box-sizing: border-box;
    padding: 4px;
    width: 100%;
    border:1px solid black;
}