@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.logo{
    font-size: 1.25rem;
    letter-spacing: 0.2em;
    font-family: serif;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.flex_center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media (min-width: 768px) {
 .logo{
    font-size: 1.5rem;
  }
}


/* image tracker */

.image_tracker_container{
  width: 40px;
  position: relative;
  /* top:30px; */
  /* background-color: black; */
}

.image_tracker{
  width: 100%;
  cursor: pointer;
  border: 1px solid black;
}

.image_tracker:hover , .image_tracker.active_tracker{
  scale: 1.1;
}